.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 23vh;
  pointer-events: none;
}

.App-header {
  min-height: 24vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 0.9vh);
}

.App-header h1, hr {
  color: #e0003c;
}
.App-body {
  min-height: 35vh;
  margin-top: 60px;
  margin-left: 60px;
  font-size: calc(8px + 1vmin);
  font-weight: 500;
  text-align: left;
}

hr {
  border: none;
  height: 2.5px;
  background-color: #e0003c;
}

.App-footer {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  font-style: italic;
  font-weight: 500;
}

.App-body label {
  padding-right: 20px;
}