.Notifications {
    border: 2px dashed #e0003c;
    padding: 5px;
}

[data-priority='default'] {
    color: blue;
}

[data-priority='urgent'] {
    color: red;
}

.Notifications img {
    background-color: transparent;
}